.conversa {
  position: relative;
  margin-left: 35%;
  width: 0%;
  top:-90%;
}
.conversa .caixa
{
  position:absolute;
  display:block; 
  width: 40em;  
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}



.time-right {
  float: right;
  color: #aaa;
}